@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark Mode Styles */
.dark {
  --bg-color: #333;
  --text-color: #fff;
}

.dark .bg-white {
  background-color: #444;
}

.dark .text-white {
  color: #ddd;
}

